<div class="flex justify-between max-sm:flex max-sm:items-baseline">
	<input type="checkbox" id="input-check" class="check" />
	<label for="input-check" class="hamb"><i class="bi bi-list"></i><i class="bi bi-x-lg"></i>Menu</label>
	<div class="logo-container max-sm:flex-col">
		<img src="./images/favicon.png" alt="logo" class="logo" />
		<p>Arte-TTuckler</p>
	</div>

	<nav class="navbar">
		<ul class="menu">
			<li class="menu-item submenu-one">
				<a href="/mant-products"><i class="bi bi-dropbox text-[#15cfc6]"></i> Productos<i class="bi bi-chevron-right"></i></a>
			</li>

			<li class="menu-item">
				<a href="/mant-users"><i class="bi bi-envelope text-[#15cfc6]"></i> Usuarios</a>
			</li>
			<li class="menu-item">
				<a href="/reports"><i class="bi bi-card-list text-[#15cfc6]"></i> Reportes</a>
			</li>
		</ul>
	</nav>
	<div id="dinamic-fragment"></div>
</div>
