<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restablecer Contraseña</title>
		<link rel="icon" href="/images/favicon.png" type="image/x-icon" />
		<link href="./css/output.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/intlTelInput.css" />
		<link rel="stylesheet" href="./css/bootstrap-icons.css" />
	</head>
	<body class="flex items-center justify-center h-screen bg-teal-800">
		<div class="bg-gray-800 p-6 rounded-lg w-80 shadow-md">
			<h1 class="text-white text-center text-2xl mb-6">Restablecer Contraseña</h1>
			<form id="myForm" action="/set-password" method="POST" class="space-y-4">
				<input type="hidden" name="token" value="<%= token %>" />
				<!-- Token oculto -->
				<div class="space-y-4">
					<div class="form-group">
						<label for="password" class="block text-white mb-1">Password</label>
						<input
							type="password"
							name="password"
							id="password"
							required
							minlength="8"
							maxlength="32"
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
							title="La contraseña debe tener al menos 8 caracteres, incluir al menos una letra y un número."
							class="w-full p-2 border border-gray-300 rounded bg-gray-200"
						/>
					</div>

					<div class="form-group">
						<label for="confirm-password" class="block text-white mb-1">Confirm Password</label>
						<input
							type="password"
							name="confirm-password"
							id="confirm-password"
							required
							minlength="8"
							maxlength="32"
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
							title="La contraseña debe tener al menos 8 caracteres, incluir al menos una letra y un número."
							class="w-full p-2 border border-gray-300 rounded bg-gray-200"
						/>
					</div>
					<p id="message" class="text-red-500 text-sm pt-2"></p>
				</div>
				<button type="submit" class="w-full p-2 bg-blue-500 text-white rounded hover:bg-blue-700 text-lg">Restablecer Contraseña</button>
			</form>
		</div>

		<script>
			document.getElementById("myForm").addEventListener("submit", function (event) {
				const form = this;

				// Validar primero el formulario nativamente
				if (!form.checkValidity()) {
					form.reportValidity(); // Muestra los mensajes nativos de validación
					event.preventDefault(); // Cancela el envío del formulario
					return;
				}

				const newPassword = document.getElementById("password");
				const confirmPassword = document.getElementById("confirm-password");
				if (newPassword.value !== confirmPassword.value) {
					const pErrorMsg = document.getElementById("message");
					pErrorMsg.textContent = "Contraseñas no coinciden, intente de nuevo.";
					event.preventDefault(); // Cancela el envío del formulario
					return;
				}
			});
		</script>
	</body>
</html>
