<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restablecer Contraseña</title>
		<style>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			body {
				font-family: Arial, sans-serif;
				background-color: #0e454e;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
			}

			.container {
				background-color: #252a33;
				padding: 20px;
				border-radius: 10px;
				width: 400px;
				box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
			}

			h1 {
				color: #fff;
				text-align: center;
				margin-bottom: 20px;
			}

			.form-group {
				margin-bottom: 15px;
			}

			label {
				display: block;
				color: #fff;
				margin-bottom: 5px;
			}

			input {
				width: 100%;
				padding: 10px;
				border-radius: 5px;
				border: 1px solid #ccc;
			}

			input[type="password"] {
				background-color: #f9f9f9;
			}

			.submit-btn {
				width: 100%;
				padding: 10px;
				background-color: #1e90ff;
				color: white;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 16px;
			}

			.submit-btn:hover {
				background-color: #156bbf;
			}
			p {
				padding: 10px;
				color: red;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Restablecer Contraseña</h1>
			<form id="myForm" action="/set-password" method="POST">
				<input type="hidden" name="token" value="<%= token %>" />
				<!-- Token oculto -->
				<div>
					<div class="form-group">
						<label for="password">Password</label>
						<input
							type="password"
							name="password"
							id="password"
							required
							minlength="8"
							maxlength="32"
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
							title="La contraseña debe tener al menos 8 caracteres, incluir al menos una letra y un número."
							class="border rounded bg-slate-200"
						/>
					</div>

					<div class="form-group">
						<label for="confirm-password">Confirm Password</label>
						<input
							type="password"
							name="confirm-password"
							id="confirm-password"
							required
							minlength="8"
							maxlength="32"
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$"
							title="La contraseña debe tener al menos 8 caracteres, incluir al menos una letra y un número."
							class="border rounded bg-slate-200"
						/>
					</div>
					<p id="message"></p>
				</div>
				<button type="submit" class="submit-btn">Restablecer Contraseña</button>
			</form>
		</div>
		<button type="submit" class="submit-btn">Restablecer Contraseña</button>

		<script>
			document.getElementById("myForm").addEventListener("submit", function (event) {
				const form = this;

				// Validar primero el formulario nativamente
				if (!form.checkValidity()) {
					form.reportValidity(); // Muestra los mensajes nativos de validación
					event.preventDefault(); // Cancela el envío del formulario
					return;
				}

				const newPassword = document.getElementById("password");
				const confirmPassword = document.getElementById("confirm-password");
				if (newPassword.value !== confirmPassword.value) {
					const pErrorMsg = document.getElementById("message");
					pErrorMsg.textContent = "Contraseñas no coinciden, intente de nuevo.";
					event.preventDefault(); // Cancela el envío del formulario
					return;
				}
			});
		</script>
	</body>
</html>
