

/* Otros estilos CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color:#161f26;
   /*  background-color: #242430;*/
} 


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    z-index: 1001;
 
   
}


.logo {

    position: absolute;
    height: 100cmpx;
    width: 100px;
    border-radius: 100px;
    top: 1%;
    left: 2%;
    z-index: 1002;
  
}



 #menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #273248;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    padding: 2px; /* Asegura espacio para el contenido */
}


 .carrito-container{
    margin-right: 20px;
 }

 .submenu{
    position: relative;
 }

 .submenu #carrito{
    display: none;
 }

.submenu:hover #carrito{
    display: block;
    position: absolute;
    background-color: rgb(255,255,255,0.2); /*1% opacidad*/
    box-shadow: 0px, 4px, 8px rgb(0,0,0,0.5);/*sombra*/
    /* background-color: transparent;
    border: 1px solid #273248; */

    border-radius: 2%;
    /* background-color: #394148; */
   /*  backdrop-filter: blur(5px); */
    /*background-color:#4E4B5076;  */
    right: 0;  
    top: 100%;
    z-index: 1;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th,tr{
    color: #feffff;

}
.bi-cart4{
    color:#4377bb;
 }

 .menu-v{
    display: none;
    
}

.bi-list{
    margin-left: 2rem;
    color:#4377bb;
   
}

.bi-list:hover{
    color:#BA9143;
    
}

.menu-v:hover > .nav-v{
    transform: translateY(0); /* Move menu into view */
    opacity: 1; /* Make it visible */
    pointer-events: auto; /* Allow interaction */
   
    /* display: block; */
        
}   



/*-----------------------------------
    #MENU VERTICAL
-------------------------------------*/
.nav-v{
    /* display: none; */
    transform: translateY(-20px); /* Move menu out of view */
    opacity: 0; /* Make it invisible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Prevent interaction when hidden */
    position: absolute;
    font-size: small;
    width: 7rem;

   
 }
.nav-v .ul-v { 
    color: #4377bb;
    background-color:#273248;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.nav-v .ul-v .li-v{
    display: flex;
    justify-content: center;
    left: 0px;
    width: 100%;
    border: 1px solid #273248;
    position: relative;
    
}

.nav-v .li-v:hover{
    background-color: #32363B;
    border-bottom: 1px solid #BA9143;
}

.nav-v .ul-v .li-v:hover > .ul-v {
    transform: translateX(0px); /* Move menu into view */
    opacity: 1; /* Make it visible */
    pointer-events: auto; /* Allow interaction */ 
   /*  display: block; */
}

.nav-v .ul-v .ul-v{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 100%;
    width: 7rem;
    transform: translateX(-20px); /* Move menu out of view */
    opacity: 0; /* Make it invisible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Prevent interaction when hidden */
}
/*-----------------------------------
    #MENU HORIZONTAL
-------------------------------------*/
.nav-h{
   /*  margin: 0 auto; */
    font-size:medium;
   
   
}
.nav-h .ul-h{
    color:#4377bb;
    background-color: #273248;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
   
   
}

.nav-h .ul-h .li-h{
    display: flex;
    justify-content: center;
    border: 1px solid #273248;
    position: relative;
    width: 7rem;
   
    
} 

.nav-h .li-h:hover{
    background-color:#32363B;
    border-bottom: 1px solid #BA9143;
}

.nav-h .ul-h .li-h:hover > .ul-h{
    /* display: block; */
    transform: translateY(0px); /* Move menu into view */
    opacity: 1; /* Make it visible */
    pointer-events: auto; /* Allow interaction */
}

.nav-h .ul-h .li-h .ul-h{
    /* display: none; */
    transform: translateY(-20px); /* Move menu out of view */
    opacity: 0; /* Make it invisible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Prevent interaction when hidden */
    display: flex;
    flex-direction: column;
    gap: 0;
    position:absolute ;
    top:100%;
    left: 0;
    width: 7rem;
}

.nav-h .ul-h .li-h .ul-h .li-h:hover > .ul-h{
    /* display: block; */
    transform: translateX(0px); /* Move menu into view */
    opacity: 1; /* Make it visible */
    pointer-events: auto; /* Allow interaction */
}

.nav-h .ul-h .ul-h .ul-h {
    transform: translateX(-20px); /* Move menu out of view */
    opacity: 0; /* Make it invisible */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none; /* Prevent interaction when hidden */
    position: absolute;
    top: 0;
    left: 100%;
}
 

/* Pantallas pequeñas (teléfonos en modo vertical) */
@media (max-width: 600px){
    .nav-h{
        display: none;
    }
    .menu-v{
        display: block;
    }
  
}
/* Pantallas medianas (tabletas en modo vertical o teléfonos en modo horizontal) */
@media (min-width: 601px) and (max-width: 768px) {
    .nav-h{
        display: none;
    }
    .menu-v{
        display: block;
    }
}   

/* /* Pantallas grandes (tabletas en modo horizontal o computadoras pequeñas) */
/*@media (min-width: 769px) and (max-width: 1024px) {
}

/* Pantallas extra grandes (computadoras de escritorio) */
/*@media (min-width: 1025px) and (max-width: 1200px) {

} */

/*------------------------------------------
    #SECCION SERVICIOS
---------------------------------------------*/
.services, .contact {
    margin-bottom: 20px;
}
.card {
    margin: 10px 0;
}


/* Estilos para el botón flotante de WhatsApp */
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    z-index: 1000;
}

.whatsapp_float img {
    width:80%;
    height: 80%;
   
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(198, 200, 149);
    color: #109d0b;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    z-index: 1;
    bottom:-5%; 
    left:-35%;
    margin-left: 2px; 
    transition: opacity 0.3s;
    font-size: smaller;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
